extends layout

block content
    .vis-comp-block-list
        .main-view
            .userNetwork-view
                .block-wrapper
                    .vis-comp-block.block
        .sub-view
            .trend-view
                .block-wrapper
                    .vis-comp-block.block
            .project-view
                .block-wrapper
                    .vis-comp-block.block

