$git-dark-color: #25292E
$git-light-color: #f6f8fa
$git-light-light-color: #fafbfc

$git-darkbg-text-color: #C8C9CB
$git-desc-text-color: #586069
$git-a-color: #0366d6

$html-bg-color : #efefef

$border-test-color: #ccc

$title-font-size: 28px
$sub-title-font-size: 24px
$icon-font-size: 18px
$desc-font-size: 14px
$small-font-size: 11px

$display-width : 1920px
$display-height : 1080px

$title-box-height : 65px

$padding-small : 9px
$padding-medium : 18px
$padding-large : 30px
