svg
  display: block
  margin: auto
  background-color: #fff

// main-view : sub-view ==> 6:4 기준

svg#userNetworkRenderer
  width: 920px
  height: 990px

svg#trendRenderer
  width: 920px
  height: 580px

svg#projectRenderer
  width: 920px
  height: 380px

.dev-tooltip-box
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important

//// main-view : sub-view ==> 6:4 기준
//
//svg#userNetworkRenderer
//  width: 1100px
//  height: 990px
//
//svg#trendRenderer
//  width: 730px
//  height: 580px
//
//svg#projectRenderer
//  width: 730px
//  height: 380px
