svg
  display: block
  margin: auto
  background-color: #fff

// main-view : sub-view ==> 5:5 기준

//svg#userNetworkRenderer
//  width: 920px
//  height: 990px
//
//svg#trendRenderer
//  width: 920px
//  height: 580px
//
//svg#projectRenderer
//  width: 920px
//  height: 380px


// main-view : sub-view ==> 6:4 기준

svg#userNetworkRenderer
  width: 1100px
  height: 890px

svg#trendRenderer
  width: 735px
  height: 345px

svg#projectRenderer
  width: 730px
  height: 530px

.pie
  opacity: 0.3
  &.selected
    opacity: 1