@import "variable"
@import "global"

.title-block
  width: 100%
  height: $title-box-height

.vis-comp-block-list
  width: 100%
  margin: auto
  height: $display-height - $title-box-height + 150
  min-height: 500px
  display: flex

  .main-view
    height: 100%
    position: relative
    flex: 7
    .category-select-zone-open-button-wrapper
      position: absolute
      top: 20px
      left: 20px
    .category-select-zone
      overflow-y: scroll
      .sub-title
        font-size: $sub-title-font-size
        height: 100px
        line-height: 100px
        padding: 0 20px
      position: absolute
      top: 10px
      left: - 520px
      width: 500px
      height: 995px
      transition: left 0.5s
      background: #FFF
      opacity: 0.85
      box-shadow: 0 8px 10px 0 rgba(50, 50, 50, 0.4)
      -webkit-box-shadow: 0 6px 10px 0 rgba(50, 50, 50, 0.4)
      -moz-box-shadow: 0 6px 10px 0 rgba(50, 50, 50, 0.4)
      .field-list
        padding: 0 25px
        .field
          line-height: 2 * $sub-title-font-size
          padding: 20px 0
          border-bottom: 1px solid $git-darkbg-text-color
          .field-name
            font-size: $sub-title-font-size
            font-weight: bold
          .category-list
            .category
              display: inline-block
              padding: 0 20px
              margin: 5px 10px
              border-radius: 20px
              cursor: pointer
              opacity: 1
              &.selected
                background-color: $git-dark-color
                color: #FFF
              &.unselected
                background-color: #FFF
                color: $git-dark-color
                border: $git-dark-color 1px solid
      .category-select-zone-close-button-wrapper
        position: absolute
        top: 20px
        right: 20px
    .userNetwork-view
      height: 100%

  .sub-view
    height: 100%
    flex: 4
    .trend-view
      height: 30%
    .keyword-view
      height: 40%
    .project-list-view
      height: 30%

.button-wrapper
  @include button-wrapper()