@import "variable"
@import "global"

*
  box-sizing: border-box
//border: 1px solid $border-test-color

body
  font-family: 'Roboto', sans-serif
  padding: $padding-medium
  margin: 0
  width: $display-width
  height: $display-height

a
  color: $git-a-color
  &:visited
    color: $git-a-color

a.name, a.repo
  color: black
  font-weight: 600
  &:hover
    color: $git-a-color

a.repo:hover
  border-bottom: 2px solid $git-a-color

.font-title
  font-size: $title-font-size
  font-weight: 600

.font-decs
  font-size: $desc-font-size


.block-wrapper
  padding: $padding-small
  height: 100%
  .block
    height: 100%
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.4)
    -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.4)
    -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.4)
